body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.usrMsg {
    float: right;
}

.textBox {
    display: block;
    width: 250px;
    height: 100px;
}

#submitMsg {
    margin: 10px 0;
    clear: right;
    background-color: green;
    border: none;
}

.message {
    border: 3px solid #ebebeb;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px 8px;
    font-family: verdana, sans-serif;
}

.username {
    float: left;
    color: turquoise;
    font-weight: bold;
}

.msgCreated {
    float: left;
    float: right;
    font-size: 9px;
    color: gray;
    margin-top: 5px;
}

.messageText {
    clear: both;
}


















































